<div class="container">
  <div>
    <h2>Modifier un Ecrivain :</h2>
  </div>
  <form>
    <div class="row mb-3">
      <div class="col-sm-2">
        <label>ID Ecrivain</label>
        <input type="text" [(ngModel)]="currentEcrivain.idEcrivain" name="idEcrivain" class="form-control" readonly>  
      </div>
      <div class="col-sm-4">
        <label>Nom Ecrivain</label>
        <input type="text" [(ngModel)]="currentEcrivain.nomEcrivain" name="nomEcrivain" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-2">
        <label>Prix Livre</label>
        <input type="number" [(ngModel)]="currentEcrivain.prixLivre" name="prixLivre" class="form-control">
      </div>
      <div class="col-sm-4">
        <label>Date création</label>
        <input type="date" [ngModel]="currentEcrivain.dateCreation | date: 'yyyy-MM-dd'" (ngModelChange)="currentEcrivain.dateCreation= $event" name="dateCreation" class="form-control">
      </div>
      <div class="col-sm-4">
        <label>Genre</label>
        <select class="form-control" id="idG" name="idG" [(ngModel)]="updatedIdG">
          <option *ngFor="let g of genres" [value]="g.idG" >
            {{g.nomG}}
          </option>
        </select>
      </div>
    </div>
    <button type="submit" (click)="updateEcrivain()" class="btn btn-success">Modifier</button>
  </form>
</div>